{
  "env": {
    "es6": true,
    "node": true
  },
  "extends": ["airbnb-base", "plugin:@typescript-eslint/recommended"],
  "globals": {
    "describe": true,
    "it": true,
    "expect": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "prettier", "plugin:prettier/recommended"],
  "rules": {
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "ts": "never"
      }
    ],
    "max-len": [
      "error",
      {
        "code": 120,
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreRegExpLiterals": true
      }
    ],
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          ["index", "internal", "object"],
          ["sibling", "parent"]
        ],
        "pathGroups": [
          {
            "pattern": "@/**",
            "group": "internal",
            "position": "before"
          }
        ],
        "pathGroupsExcludedImportTypes": ["builtin"],
        "warnOnUnassignedImports": false,
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ],
    "comma-dangle": ["error", "always-multiline"],
    "prettier/prettier": "error",
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": ["error"],
    "@typescript-eslint/camelcase": "off",
    "no-underscore-dangle": "off",
    "no-plusplus": "off",
    "class-methods-use-this": "off",
    "import/prefer-default-export": "warn",
    "@typescript-eslint/ban-types": "warn"
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  }
}
